{% extends 'base.html' %}

{% block head %}
    <title>About Us</title>
{% endblock%}
{% block body %}
    <div class="container">
    </br>
        <div class="jumbotron">
            <h1>About Us</h1>
            <p>. I built this application just to bring about a change in India and help people solving the problems. Special thanks to Riktam Technology for providing this opportunity</p>
        </div>
        <div class="jumbotron">
            <h1>Contact Us</h1>
            <p>Name: Kummari Charan</p>
            <p>Contact No: +91-8179421384</p>
            <p>Email: @gmail.com</p>
            <p></p>
        </div>
    </br>
</div>{% endblock%}
